/*------------------Page index.html-------------------------------*/
.nav-link {
  color: rgba(0, 0, 0, 0.7) !important;
}

.nav-link:hover {
  color: black !important;
}

.present {
  background: url("../img/bg-photos.jpg") no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 75px;
  position: relative;
}

.present__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 5px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

.present__background h1 {
  color: #F3E9F1;
}

@media (min-width: 992px) {
  .present {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .present {
    height: 400px;
  }
}

@media (min-width: 1400px) {
  .present {
    height: 500px;
  }
}

/* ---------Page index - error css-----*/
.error-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F3E9F1;
}

.error-message {
  padding: 20px 20px 0px 20px;
  background-color: #dd7d7d;
  text-align: center;
  width: 60%;
}

/*----------Page de la confirmation-----------------*/
#order-details {
  background: url("../img/bg-photos.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  color: #F3E9F1;
  padding-top: 30vh;
}

.order-details__text {
  font-size: 20px;
}

.products-frame {
  border: 1px solid #999999;
  border-radius: 3px;
  background-color: #ffffff;
}

.products-frame:hover {
  background-color: #d4c7d2;
}

.products-element {
  color: #000 !important;
  text-decoration: none;
}

.products-element__img {
  position: relative;
  min-height: 200px;
  width: 100%;
}

.products-element__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/*.products-title{
	font-size: 20px;
	text-align: center;
}
.products-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 45px;
	width: 80%;
	max-width: 1240px;
	margin: auto;
	padding: 20px 0px;
}
.products-element {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 25px 20px;
	border: 1px solid #999999;
	border-radius: 3px;
	
}
.products-element__name{
	font-weight: 700;
}
.products-element__img {
	width: 100%;
	height: 250px;
	object-fit: contain;
}

.products-element__price{
	font-weight: 600;
}

a {
	color: #000 !important;
   text-decoration: none;
}
*/
.wrapper {
  position: relative;
}

.product-details__img {
  min-height: 300px;
  position: relative;
}

.product-details__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.product-details__price {
  display: block;
  margin-bottom: 20px;
}

.product-details__lenses {
  margin-bottom: 30px;
}

.product-details button {
  width: 100%;
}

.cart-container {
  width: 95%;
}

.cart-element__name {
  padding-left: 10px;
  font-weight: bold;
  width: 250px;
}

.cart-count {
  padding: 20px;
  width: 150px;
}

.cart-element__price {
  padding: 20px;
  width: 150px;
}

.cart-element__sum {
  padding: 20px;
  width: 150px;
}

.cart-element__delete:hover {
  -webkit-box-shadow: 5px 5px 5px  #928190;
          box-shadow: 5px 5px 5px  #928190;
}

.cart-element__allsum {
  padding: 20px;
  font-weight: bold;
  width: 150px;
}

.cart-pay {
  border-radius: 3px;
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: #d4c7d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-pay:hover {
  -webkit-box-shadow: 5px 5px 5px  #928190;
          box-shadow: 5px 5px 5px  #928190;
}

/**********/
.form {
  width: 95%;
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid gray;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #F3E9F1;
}

.form.active {
  opacity: 1;
  visibility: visible;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__button button:hover {
  -webkit-box-shadow: 5px 5px 5px  #928190;
          box-shadow: 5px 5px 5px  #928190;
}

.form__close {
  color: gray;
  height: 35px;
  width: 35px;
  background-image: url(../img/cancel.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

._alert {
  -webkit-box-shadow: 0 0 2px 1px red;
          box-shadow: 0 0 2px 1px red;
  border-color: #DD2C00 !important;
}

@media (min-width: 992px) {
  .form {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 75%;
  }
}

@media (min-width: 1400px) {
  .form {
    width: 60%;
  }
}
