.cart-container{
	width: 95%;
	padding: 30px;
}
.cart-element__name {
	padding: 20px;
	font-weight: bold;
	width: 200px;
}

.cart-count {
	padding: 20px;
	width:  150px;
}
.cart-element__price {
	padding: 20px;
	width: 150px;

}
.cart-element__sum{
	padding: 20px;

	width: 150px;
}
.cart-element__allsum{
	padding: 20px;
	font-weight: bold;
	width: 150px;
}