.cart-container{
	margin: auto;
	width: 95%;
}
@media (min-width: 768px) { 
	.cart-container{
		width: 80%;
	}
}
@media (min-width: 992px) { 
	.cart-container{
		width: 70%;
	}
}
.cart-element__name {
	span {
		font-size: 0.9rem;
	}
}
.cart-element__delete-btn:hover {
	box-shadow: 5px 5px 5px  $color-btn-shadow;
}

.cart-pay {
	border-radius: 3px;
	width: 200px;
	height: 50px;
	margin: auto;
	background-color: $color-header;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover{
		box-shadow:5px 5px 5px  $color-btn-shadow;
	}
}
/**********/

.form {
	width: 95%;
	position: absolute;
	top: 3%;
	left: 50%;
	transform: translateX(-50%);

	border: 2px solid gray;
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	background-color: $color-text-light;
	&.active {
		opacity: 1;
		visibility: visible;
  }
  &__button {
	  display: flex;
	  justify-content: center;
	  transition: all 0.5s ease 0s;
	  button:hover {
		  box-shadow:5px 5px 5px  #928190;
	  }
  }
  &__close{
	  color:gray;
	  height: 35px;
	  width: 35px;
	  background-image: url(../img/cancel.svg);
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: contain;
	  cursor: pointer;
  }
}
._alert {
   box-shadow: 0 0 2px 1px red;
   border-color: #DD2C00!important;
 
}
@media (min-width: 992px) { 
	.form{
		width: 85%;
	}
}
@media (min-width: 1200px) { 
	.form{
		width: 75%;
	}
}
@media (min-width: 1400px) { 
	.form{
		width: 60%;
	}
 }