
/*------------------Page index.html-------------------------------*/
.nav-link{
	color: rgba($color: #000000, $alpha: 0.7)!important;
	&:hover{
		color: rgba($color: #000000, $alpha: 1)!important;
	}
}
.present {
	background: url("../img/bg-photos.jpg") no-repeat;
	background-size: cover;

	height: 300px;

	margin-top: 75px;
	position: relative;
	&__background {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 10px 10px 5px 10px;

		height: 100%;
		text-align: center;
		h1 {
			color: $color-text-light;
		}
	}
}

@media (min-width: 992px) { 
	.present{
		height: 300px;
	}
}
@media (min-width: 1200px) { 
	.present{
		height: 400px;
	}
}
@media (min-width: 1400px) { 
	.present{
		height: 500px;
	}
 }

 /* ---------Page index - error css-----*/
.error-container {
	display: flex;
	justify-content: center;
	background-color: $color-text-light;
}
.error-message {
	padding: 20px 20px 0px 20px;
	background-color: $color-error-message;
	text-align: center;
	width: 60%;
}
 /*----------Page de la confirmation-----------------*/
#order-details {
	background: url("../img/bg-photos.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
	color: $color-text-light;
	padding-top: 30vh;
}
.order-details__text{
	font-size: 20px;
}

