* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.7;
	background-color: #f8f9fa;
}
header {
	background-color: $color-header;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	img {
		justify-self: flex-start;
		margin-right: auto;
	}
}
.cart-counter{
	padding-right: 20px;
	height: 100%;

}
.homepage {
	padding-right: 20px;
}

/*-------------------------------------------------*/
.nav-link{
	color: rgba($color: #000000, $alpha: 0.7)!important;
	&:hover{
		color: rgba($color: #000000, $alpha: 1)!important;
	}
}
.present {
	background: url("../img/bg-photos.jpg") no-repeat;
	background-size: cover;

	height: 300px;

	margin-top: 75px;
	position: relative;
	&__background {
		display: flex;

		padding: 10px 10px 5px 10px;

		justify-content: center;
		align-items: center;
		height: 100%;
		text-align: center;
		h1 {
	//		font-weight: 600;
			color: $color-text-light;
		}
	}
}

@media (min-width: 992px) { 
	.present{
		height: 300px;
	}
}
@media (min-width: 1200px) { 
	.present{
		height: 400px;
	}
}
@media (min-width: 1400px) { 
	.present{
		height: 500px;
	}
 }

  /*@include media-breakpoint-up(md) {
	.present{
		height: 300px;
	}
}*/
/*@include media-breakpoint-up(lg) {
	.present{
		height: 400px;
	}
}*/

/*
@include media-breakpoint-up(xl) {
	.present{
		height: 500px;
	}
}*/

/*---------------------------*/
#order-details {
	background: url("../img/bg-photos.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
	color: $color-text-light;
	padding-top: 30vh;
}
.order-details__text{
	font-size: 20px;
}