.wrapper{
	position: relative;
}
.product-details {
	&__img{
		min-height: 300px;
		position: relative;
		img{
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__price{
		display: block;
		margin-bottom: 20px;
	}
	&__lenses{
		margin-bottom: 30px;
	}
	button {
		width: 100%;
	}
}